/* CSS MENU */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



#menu {
    background: #343434;
    color: #eee;
    height: 35px;
    border-bottom: 4px solid #eeeded;
}

#menu ul,
#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 9999;
}

#menu ul {
    height: 35px;
}

#menu li {
    float: left;
    display: inline-block;
    /* Changed to inline-block for better control */
    position: relative;
    font: bold 12px Arial;
    text-shadow: 0 -1px 0 #000;
    border-right: 1px solid #444;
    border-left: 1px solid #111;
    text-transform: uppercase;
}

#menu li:first-child {
    border-left: none;
}

#menu a {
    display: block;
    line-height: 35px;
    padding: 0 14px;
    text-decoration: none;
    color: #eee;
}

#menu li:hover>a,
#menu li a:hover {
    background: #111;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

#menu label {
    font: bold 30px Arial;
    display: none;
    width: 35px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

#menu label span {
    font-size: 12px;
    position: absolute;
    left: 35px;
}

#menu ul.menus {
    height: auto;
    overflow: hidden;
    width: 180px;
    background: #111;
    position: absolute;
    z-index: 99;
    display: none;
    /* Initially hidden */
    top: 35px;
    /* Position below the main menu */
}

#menu ul.menus li {
    display: block;
    width: 100%;
    font: 12px Arial;
    text-transform: none;
}

#menu li:hover ul.menus {
    display: block;
    /* Show dropdown on hover */
}

#menu a.home {
    background: #c00;
}

#menu a.sub {
    padding: 0 27px 0 14px;
}

#menu a.sub::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 9px;
}

#menu ul.menus a:hover {
    background: #333;
}


h1 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
}

p {
    font-size: 25px;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: 500;
}