@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    color: #b22222;
    /* Warna merah tua */
    font-weight: bold;
}

h4 {
    text-align: center;
    margin: 20px 0;
}

h4 a {
    text-decoration: none;
    color: #b22222;
    margin: 0 10px;
    padding: 8px 15px;
    border: 2px solid #b22222;
    border-radius: 20px;
    transition: all 0.3s ease;
}

h4 a:hover {
    background-color: #b22222;
    color: #fff;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: #b22222;
    margin: 0 10px;
    padding: 8px 15px;
    border: 2px solid #b22222;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropbtn:hover {
    background-color: #8b0000;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    /* Ensures it aligns right under the button */
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content a {
    color: #757575;
    padding: 12px 16px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #b22222;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


/* Bagian konten wisata */
h5 {
    margin: 20px;
    font-size: 24px;
    color: #b22222;
}

p {
    margin: 0 20px 20px;
    line-height: 1.6;
    font-size: 16px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 90%;
    border: 3px solid #b22222;
    border-radius: 10px;
}

/* Gaya untuk footer */
footer {
    text-align: center;
    background-color: #b22222;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
}

p {
    font-size: 25px;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: 500;
}