h2{
    text-align: center;
    color:;
    /* pilih salah satu */
    background-color:;
    background-image: ;
    margin-top: 2px;
    font-family: cursive;

}
h4{
    text-align: justify;
    color:;
    background-color:;
    text-size-adjust: 35px;
    margin-top: 40px;
    margin: 10 px;
    font-family: cursive;
    
}