h1{
    text-align: center;
    background-color: rgb(204, 230, 221);
    text-shadow: 100px;
    font-family:Geneva;
    margin-top: 10px;
    
    color: rgb(145, 104, 51);

}
.page1{
    margin-top: 40px;
    padding-left: 2cm;
    background-color: brown;
    text-align: justify;
    color: blueviolet;
}